@import '../variables';

.landing-page {
    height: 100vh;
    width: 100%;
    position: relative;

    .icon-title {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0%);
        color: white;
    }

    // .header {
    //     // text-align: center;
    //     // position: absolute;
    //     // top: 50%;
    //     // right: 50%;
    //     // transform: translate(+50%, -50%);
    //     // width: 100%;

    //     .main-title {


    //         @media screen and (min-width: $break-medium) {
    //             font-size: 100px;
    //         }

    //         @media screen and (min-width: $break-large) {
    //             font-size: 120px;
    //         }

    //         margin: 0px;
    //         font-size: 50px;
    //     }

    //     .secondary-title {

    //         @media screen and (min-width: $break-medium) {
    //             font-size: 30px;
    //         }

    //         @media screen and (min-width: $break-large) {
    //             font-size: 50px;
    //         }

    //         font-size: 25px;
    //         margin: 0px;
    //     }
    // }

    // .header_left {
    //     text-align: center;
    //     position: absolute;
    //     top: 50%;
    //     left: 10%;
    //     transform: translate(0, -50%);
    //     width: fit-content;
    //     text-align: left;

    //     .main-title {


    //         @media screen and (min-width: $break-medium) {
    //             font-size: 60px;
    //         }

    //         @media screen and (min-width: $break-large) {
    //             font-size: 80px;
    //         }

    //         margin: 0px;
    //         font-size: 50px;
    //     }

    //     .secondary-title {

    //         @media screen and (min-width: $break-medium) {
    //             font-size: 30px;
    //         }

    //         @media screen and (min-width: $break-large) {
    //             font-size: 50px;
    //         }

    //         font-size: 25px;
    //         margin: 0px;
    //     }
    // }

    // .block {
    //     height: 100%;
    //     width: 100%;


    //     @media screen and (min-width: $break-medium) {
    //         clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
    //         //TODO: more variants
    //     }

    // }
}

// Styles for props.children
.txt-section {
    h1 {
        font-size: 5em;
        margin-bottom: 0;

        @media screen and (max-width: $break-small) {
            font-size: 3.2em;
        }
    }

    h2 {
        font-size: 2em;
        margin: 10px 0;

        @media screen and (max-width: $break-small) {
            font-size: 1.5;
        }
    }

    p {
        font-size: 15px;

        @media screen and (max-width: $break-small) {
            font-size: 14px;
        }
    }
}


.v1 {
    .txt-section {
        text-align: center;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(+50%, -50%);
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            max-width: 80%;
        }

        @media screen and (max-width: $break-medium) {
            width: 70%;
        }

        @media screen and (max-width: $break-small) {
            top: 45%;
            width: 80%;
        }

        @media screen and (max-width: 350px) {
            top: 50%
        }
    }

    .icon-title {
        @media screen and (max-width: 350px) {
            visibility: hidden;
        }
    }

    @mixin reset-to-center-phone {
        @media screen and (max-width: $break-small) {
            text-align: center;
            right: 50%;
            align-items: center;
        }
    }

    .left {
        right: 60%;
        text-align: left;
        align-items: flex-start;

        @include reset-to-center-phone();
    }

    .right {
        right: 40%;
        text-align: right;
        align-items: flex-end;

        @include reset-to-center-phone();
    }

    .center {
        right: 50%;
    }
}


.v2 {
    display: flex;

    @media screen and (max-width: $break-large) {
        justify-content: center;
        align-items: center;
    }

    @mixin reset-to-center-medium() {
        @media screen and (max-width: $break-large) {
            text-align: center;
            margin: 0;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding: 0 5vw;

        @media screen and (max-width: $break-large) {
            max-height: 80vh;
        }
    

        .txt-section {
            max-width: 40%;

            @media screen and (max-width: $break-large) {
                max-width: 80%;
            } 
        }

        .img-section {
            max-width: 50%;
            min-width: 40%;
            height: 65vh;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @media screen and (max-width: $break-large) {
                max-width: 80%;
                min-width: 75%;
                height: 45vh;
                text-align: center;
            } 
        }
    }

    .left {
        flex-direction: row;

        .txt-section {
            right: 60%;
            text-align: left;
            margin-right: 40px;

            @media screen and (max-width: $break-large) {
                text-align: center;
                margin: 0;
            } 
        }

        .img-section {
            right: 40%;
        }
    }

    .right {
        flex-direction: row-reverse;

        .txt-section {
            right: 40%;
            text-align: right;
            margin-left: 40px;

            @media screen and (max-width: $break-large) {
                text-align: center;
                margin: 0;
            } 
        }


        .img-section {
            right: 60%;
        }
    }

    .top {
        @media screen and (max-width: $break-large) {
            flex-direction: column;

            
        }
    }

    .bot {
        @media screen and (max-width: $break-large) {
            flex-direction: column-reverse;
        }
    }

    .icon-title {
        @media screen and (max-width: 350px) {
            visibility: hidden;
        }
    }
}