@import '../variables';

.landing-page {
    height: 100vh;
    width: 100%;
    position: relative;

    .icon-title {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

// Styles for props.children
.txt-section {
    h1 {
        font-size: 5em;
        margin-bottom: 0;

        @media screen and (max-width: $break-small) {
            font-size: 2.5em;
            margin: 0;
        }
    }

    h2 {
        font-size: 2em;
        margin: 10px 0;

        @media screen and (max-width: $break-small) {
            font-size: 1.5;
        }
    }

    p {
        font-size: 15px;

        @media screen and (max-width: $break-small) {
            font-size: 14px;
        }
    }
}


.v1 {
    .txt-section {
        text-align: center;
        position: absolute;
        top: 50%;
        right: 55%;
        transform: translate(+50%, -50%);
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            max-width: 80%;
        }

        @media screen and (max-width: $break-medium) {
            width: 70%;
        }

        @media screen and (max-width: $break-small) {
            top: 45%;
            width: 80%;
        }

        @media screen and (max-width: 350px) {
            top: 50%
        }
    }

    .icon-title {
        @media screen and (max-width: 350px) {
            visibility: hidden;
        }
    }

    @mixin reset-to-center-phone {
        @media screen and (max-width: $break-small) {
            text-align: center;
            right: 50%;
            align-items: center;
        }
    }

    .left {
        right: 60%;
        text-align: left;
        align-items: flex-start;

        @include reset-to-center-phone();
    }

    .right {
        right: 40%;
        text-align: right;
        align-items: flex-end;

        @include reset-to-center-phone();
    }

    .center {
        right: 50%;
    }
}


.v2 {
    display: flex;

    @media screen and (max-width: $break-large) {
        justify-content: center;
        align-items: center;
    }

    @mixin reset-to-center-medium() {
        @media screen and (max-width: $break-large) {
            text-align: center;
            margin: 0;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding: 0 5vw;

        @media screen and (max-width: $break-large) {
            max-height: 80vh;
        }
    

        .txt-section {
            max-width: 40%;

            @media screen and (max-width: $break-large) {
                max-width: 80%;
            } 
        }

        .img-section {
            max-width: 50%;
            min-width: 40%;
            height: 65vh;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @media screen and (max-width: $break-large) {
                max-width: 85%;
                min-width: 75%;
                height: 45vh;
            } 

            @media screen and (max-width: 370px) {
                width: 90vw;
                background-size: cover;
            } 
        }
    }

    .left {
        flex-direction: row;

        .txt-section {
            right: 60%;
            text-align: left;
            margin-right: 40px;

            @media screen and (max-width: $break-large) {
                text-align: center;
                margin: 0;
            } 
        }

        .img-section {
            right: 40%;
        }
    }

    .right {
        flex-direction: row-reverse;

        .txt-section {
            right: 40%;
            text-align: right;
            margin-left: 40px;

            @media screen and (max-width: $break-large) {
                text-align: center;
                margin: 0;
            } 
        }


        .img-section {
            right: 60%;
        }
    }

    .top {
        @media screen and (max-width: $break-large) {
            flex-direction: column;

            .txt-section {
                margin-bottom: 15px;
            }
        }
    }

    .bot {
        @media screen and (max-width: $break-large) {
            flex-direction: column-reverse;

            .txt-section {
                margin-top: 15px;
            }
        }
    }

    .icon-title {
        @media screen and (max-width: 350px) {
            visibility: hidden;
        }
    }
}


.v3 {
    display: flex;

    .right {
        justify-content: flex-end;
        flex-direction: row;

        .block {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 44% 100%);

            .txt-section {
                text-align: right;
                right: 5%;
            }
        }
    }

    .left {
        justify-content: flex-start;
        flex-direction: row;

        .block {
            clip-path: polygon(0 0, 100% 0, 66% 100%, 0% 100%);

            .txt-section {
                text-align: left;
                left: 5%;
            }
        }
    }

    .top {
        @media screen and (max-width: $break-large) {
            .block {
                clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);
            }
        }

        @media screen and (max-width: $break-small) {
            .block {
                clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
        
            }
        }
    }

    .bot {
        @media screen and (max-width: $break-large) {
            align-items: flex-end;
            
            .block {
                clip-path: polygon(0 26%, 100% 0, 100% 100%, 0 100%);
            }
        }

        @media screen and (max-width: $break-small) {
            .block {
                clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 100%);
        
            }
        }
    }

    .container {
        width: 100vw;
        display: flex;

        .block {
            @media screen and (min-width: $break-large) {
                height: 100%;
                width: 60%;
                display: flex;
                align-items: center;
            }

            @media screen and (max-width: $break-large) {
                width: 100vw;
                height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @media screen and (max-width: $break-small) {
                min-height: 50%;
            }

            .txt-section {
                position: absolute;

                @media screen and (min-width: $break-large) {
                    width: 35%;
                }

                @media screen and (max-width: $break-large) {
                    right: auto;
                    left: auto;
                    width: 90vw;
                    text-align: center;
                }
            }
        }
    }
}