@import '../variables';
@import '../styled';

.section {
    position: relative;
    width: 100%;
    min-height: 450px;
    display: flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    @include styled;

    //elements are displayed next to each other on higher resolutions (for Half)
    @media screen and (min-width: $break-medium) {
        flex-direction: row;
    }

    //50% width part of secton
    .half {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: $break-medium) {
            width: 50%;
        }

        .line {
            left: 0%;
        }
    }

    //100% width of section
    .full {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 40px;
    }

    //100% width of section
    //for Cards, etc.
    .full.row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .line {
        position: absolute;
        top: 50%;
        left: 5%;
        width: 14px;
        height: 80%;
        transform: translate(0%, -50%);
        border-radius: 10px;

        @media screen and (max-width: $break-medium) {
            display: none;
        }
    }
}



.section.styled {
    @include styledOnParent;
}

//for headline_align left
.section.h_left {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 80%;
        text-align: left;
    }
}

//for headline algin right
.section.h_right {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 80%;
        text-align: right !important;
    }
}