@import '../variables';
@import '../styled';

.section {
    position: relative;
    width: 100%;
    min-height: 450px;
    display: flex;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    @include styled;


    @media screen and (min-width: $break-medium) {
        flex-direction: row;
    }



    .half {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: $break-medium) {
            width: 50%;
        }

    }

    .full {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .full.row {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.section.styled {
    @include styledOnParent;
}