.navbar {
    position: fixed;
    $break-point: 800px;
    height: 20px;

    transition: top 0.4s, background 0.4s;
    z-index: 10;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100vw;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $break-point) {
        height: 25px;
    }
    
    .desktop-hidden {
        @media screen and (min-width: $break-point) {
            visibility: hidden;
            display: none;
        }
    }

    .mobile-hidden {
        @media screen and (max-width: $break-point) {
            visibility: hidden;
            display: none;
        }
    }

    .container {
        width: 95%;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $break-point) {
            justify-content: initial;
            justify-content: flex-end;

            .menu-icon {
                left: 20px;
                position: absolute;
            }

            .brand-wrapper {
                margin-top: 2.5px;
                margin-right: 22px;
            }
        }

        .brand-wrapper {
            display: flex;
            align-items: center;
            margin-top: 2.5px;
            
            .navbar-tab-component {
                color: inherit;

                .navbar-brand {
                    margin: 0 15x;
                    font-size: 1.2em;
                }
            }
        }
        .tab-wrapper {
            .navbar-tab-component {
                color: inherit;

                .navbar-tab {
                    margin: 0 15px;
                    font-size: 1.1em;
                }
            }
            
        }
    }
}

.drawer-bg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .brand-wrapper-mobile {
        display: flex;

        .navbar-tab-component {
            margin: 30px;
            margin-top: 40px;
            font-size: 1em;
            width: 100%;
            color: inherit;
        }
    }

    .tab-wrapper-mobile {
        display: flex;
        flex-direction: column;

        .navbar-tab-component {
            margin: 14px 30px;
            font-size: 0.9em;
            color: inherit;
        }
    }
}