.icon-list {
    .table-view {
        td {
            padding: 15px;
            padding-right: 20px;
            padding-left: 20px;


            img {
                width: 100px;
                height: auto
            }

        }

        .table-heading {
            font-weight: bold;
            font-size: 20px;
            text-align: right;
            min-width: 170px
        }

        .table-text {
            font-size: 18px;
        }


    }

    .list-view {
        margin-left: 30px;
        margin-right: 20px;

        table {
            font-size: 15px;
            font-weight: bold;


            //text-align: center;
            .text-colum {
                padding-left: 20px;

            }

            .img-colum {
                width: 82px;

                img {
                    max-width: 100%;
                    height: auto
                }
            }
        }
    }

}