@import '../variables';

.img-section-container{
  width: 100vw;

  .version-container {
    width: 100%;
    height: 100%;

    .positioning-wrapper {
      display: flex;

      .content-wrapper {
        max-width: 40%;
        display: flex;

        .txt-section {
          h2 {  
            margin: 0;
            padding: 0;
            font-size: 3.5em;
            font-weight: 600;
          }
        
          p {
            font-weight: 400;
          }
        }

        .line {
          flex-shrink: 0;
        }

        @mixin horizonzalLine {
          width: 12px;
          height: 100%;
        }

        .line-right, .line-left {
          @include horizonzalLine;
          margin-right: 25px;
        }
      }
    }
  }

  .v1-version-container {
    .positioning-wrapper {
      .content-wrapper {
        .line-center {
          width: 20%;
          height: 12px;
          margin-top: 20px;
        }

        @media only screen and (max-width: $break-large) {
          max-width: 70%;
        }

        @media only screen and (max-width: $break-small) {
          max-width: 85%;
        }
      }

      @mixin cetnerTextOnTablet {
        @media only screen and (max-width: $break-medium) {
          margin: 0;
          text-align: center;
          align-items: center;
        }
      }

      .content-wrapper-right {
        margin-right: 200px;
        @include cetnerTextOnTablet();
      }
      .content-wrapper-left {
        margin-left: 200px;
        @include cetnerTextOnTablet();
      }
      .content-wrapper-center {
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    @mixin centerOnTablet {
      @media only screen and (max-width: $break-medium) {
        justify-content: center;
      }
    }

    .positioning-wrapper-right {
      justify-content: flex-end;
      @include centerOnTablet();
    }
    .positioning-wrapper-left {
      justify-content: flex-start;
      @include centerOnTablet();
    }
    .positioning-wrapper-center {
      justify-content: center;

    }
  }
  
  .v2-version-container {}
  
  .v3-version-container {}
}
