@import '../variables';

.img-section-container{
  width: 100vw;

  .version-container {
    width: 100%;
    height: 100%;

    .positioning-wrapper {
      display: flex;

      .content-wrapper {
        max-width: 40%;
        display: flex;

        .txt-section {
          h2 {  
            margin: 0;
            padding: 0;
            font-size: 3.5em;
            font-weight: 600;
          }
        
          p {
            font-weight: 400;
          }
        }

        .line {
          flex-shrink: 0;
        }

        @mixin horizonzalLine {
          width: 12px;
          height: 100%;
        }

        .line-right, .line-left {
          @include horizonzalLine;
          margin-right: 25px;
        }
      }
    }
  }

  .v1-version-container {
    .positioning-wrapper {
      .content-wrapper {
        .line-center {
          width: 20%;
          height: 12px;
          margin-top: 20px;
        }

        @media only screen and (max-width: $break-large) {
          max-width: 70%;
        }

        @media only screen and (max-width: $break-small) {
          max-width: 85%;
        }
      }

      @mixin cetnerTextOnTablet {
        @media only screen and (max-width: $break-medium) {
          margin: 0;
          text-align: center;
          align-items: center;
        }
      }

      .content-wrapper-right {
        margin-right: 200px;
        @include cetnerTextOnTablet();
      }
      .content-wrapper-left {
        margin-left: 200px;
        @include cetnerTextOnTablet();
      }
      .content-wrapper-center {
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    @mixin centerOnTablet {
      @media only screen and (max-width: $break-medium) {
        justify-content: center;
      }
    }

    .positioning-wrapper-right {
      justify-content: flex-end;
      @include centerOnTablet();
    }
    .positioning-wrapper-left {
      justify-content: flex-start;
      @include centerOnTablet();
    }
    .positioning-wrapper-center {
      justify-content: center;

    }
  }
  
  .v2-version-container {}
  
  .v3-version-container {}
}


// // Container for whole section
// .img-section-container {
//   // General styles

//   .version-container {
//     // Div for the version
//     width: 100%;
//     height: 100%;
    
//     .positioning-wrapper {
//       // Holder for text and line
//       position: relative;
//       display: flex;
//       height: fit-content;
//       width: 100%;

//       .content-wrapper {
//         display: flex;
//           // Styles for props.children (text content)
//         .txt-section {
//           h2 {  
//             margin: 0;
//             padding: 0;
//             font-size: 3.5em;
//             font-weight: 600;
//           }
        
//           p {
//             font-weight: 400;
//           }
//         }

//         .content-align-center {
//           text-align: center;
//         }

//         .content-align-right {
//           text-align: right;
//         }

//         .content-align-right, .content-align-left {
//           @media only screen and (max-width: $break-medium) {
//             text-align: center;
//           }
//         }

//         // Some setup for line next to text
//         .line {
//           flex-shrink: 0;
//         }

//         @mixin horizonzalLine {
//           width: 15px;
//           // height: 100%;
//           height: 100px;
//         }

//         @mixin verticalLine {
//           width: 20%;
//           height: 15px;
//         }

//         .line-right {
//           @include horizonzalLine;
//           margin-left: 20px;
//         }

//         .line-left {
//           @include horizonzalLine;
//           margin-right: 20px;
//         }

//         .line-center {
//           @include verticalLine;
//           margin-top: 20px;
//         }
//       }
//     }
//   }
  
//   // Styles for versions
  
//   .v1-img-section {
//     .positioning-wrapper {
//       .content-wrapper {
//         .txt-section {}

//       }

//       .content-wrapper-right {
//         align-items: flex-end;
//       }
//       .content-wrapper-left {
//         flex-direction: row-reverse;
//         align-items: flex-start;
//       }
      
    
//     }
//   }
// }